<div class = "group-detail">
<h2><%= @group.group_name %></h2>
<div>
  <%= image_tag @group.get_group_image(100,100) %>
</div>
<table>
  <thead>
    <tr>
      <th>introduction</th>
      <th>video_type</th>
      <th>video_title</th>
      <th>参加予定人数</th>
      <th>動画時間</th>
      <th>開始時間</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>
        <%= @group.introduction %>
      </td>
      <td>
        <%= @group.video_type %>
      </td>
      <td>
        <%= @group.video_title %>
      </td>
      <td>
        <%= @group.users.count %>人参加予定
      </td>
      <td>
        <%= @group.video_time.strftime('%H:%M') %>
      </td>
      <td>
        <%= @group.start_time.strftime('%Y/%m/%d %H:%M:%S') %>
      </td>
      <td>
        <% if @group.owner_id == current_user.id %>
          <%= link_to 'Edit', edit_group_path(@group) %>
        <% elsif @group.users.include?(current_user) %>
          <%= link_to 'Leave this group', group_leave_path(@group), method: :delete, class: "btn btn-sm btn-danger" %>
        <% else %>
          <%= link_to 'Join this group', group_join_path(@group), class: "btn btn-sm btn-success" %>
        <% end %>
      </td>
    </tr>
  </tbody>
</table>

<h3><%= ActionCable.server.connections.length %>人参加中</h3>
</div>

<div id = "comment-full">
<% if @group.users.include?(current_user) %>
<div id = "comment-container">
  <%= render @comments %>
</div>

<div id = "comment_form">
  <%= render partial: "comment_form", locals: { group: @group, comment: @comment } %>
</div>
<% else %>
  <h3>同時視聴のコメントを観覧、投稿したい場合は、グループに参加してください</h3>
<% end %>
</div>

